@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-one: #ece4b7;
  --primary-two: #d9dd92;
  --primary-three: #eabe7c;
  --primary-four: #dd6031;
  --primary-five: #311e10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  background: var(--primary-one);
}

.site-nav {
  width: 100%;
  background: var(--primary-three);
  padding: 8px 16px;
  box-shadow: 0px 10px 8px #f3d7ae;
}

.site-nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.site-nav a {
  color: black;
  text-decoration: none;
}

.site-nav a:hover {
  color: white;
}

.nav-item {
  font-size: 1.3rem;
  margin-left: 16px;
}

.nav-name {
  font-size: 2.7rem;
  font-weight: 700;
  margin-right: auto;
  text-shadow: 2px 3px 0px var(--primary-four), -3px -2px 0px var(--primary-two);
}
